body { font-family:arial, sans-serif; background: #fff; background-image:url('../images/whitediamond.png');}


.search {
    margin-top: 5%;
	margin-left:10%;
	width:30%;
    letter-spacing: -2px;
}


.start{
    background-color: transparent;
    border:none;
    display:inline;
    width:75px;
}



.end{
    background-color: transparent;
    border:none;
    width:75px;
    display:inline;
}

.pic{
    position:fixed;
    margin-left: 40%;
    margin-top: -400px;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 20px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

