path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

line {
    stroke: black;
}

text {
    font-family: Arial;
    font-size: 12pt;
}


g text:hover {
	fill:black;
}




circle:hover {
	stroke:red;
	fill:red;
}
